@use '../variables.scss' as vars;

.btn {
	padding: 1.5rem 3rem;
	background-color: vars.$color-emerald;
	border: 2px solid vars.$color-black;
	color: vars.$color-white;
	font-size: vars.$size-text;
	letter-spacing: 0.05em;
	text-shadow: -2px -2px 0 vars.$color-black, 2px -2px 0 vars.$color-black, -2px 2px 0 vars.$color-black,
		2px 2px 0 vars.$color-black;

	@media (hover: hover) {
		transition: all 0.3s ease-out;

		&:hover,
		&:active {
			transition: all 0.3s ease-in;
		}
	}

	@media (hover: hover) {
		&:hover,
		&:active {
			background-color: vars.$color-green;
		}
	}

	&_modal {
		margin-bottom: 2.5rem;
	}
}
