@font-face {
	font-family: 'Alegreya';
	src: url('./assets/fonts/Alegreya-Black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'Alegreya';
	src: url('./assets/fonts/Alegreya-ExtraBold.ttf');
	font-weight: 800;
}
