// colors
$color-blue: #5a8ff2;
$color-dark-blue: #5a8ff280;
$color-black: #131313;
$color-white: #f3f3f3;
$color-green: #128d06;
$color-salad: #89ce09;
$color-emerald: #219653;
$color-brown: #954a01;
$color-red: #c1480b;

//font
$font-family: 'Alegreya';
$font-size-base: 10px;

//size
$size-h1: 8rem;
$size-text: 4rem;
$size-hint: 3.5rem;
$size-gpt: 10rem;
$size-answer: 7rem;

//weight
$weight-extraBold: 800;
$weight-black: 900;

//letter-spacing
$letter-spacing-answer: 2rem;

//z-index
$z-overlay: 1000;
$z-inner: 1001;
