@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/Alegreya-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/Alegreya-ExtraBold.ttf");
  font-weight: 800;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Alegreya";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.5em;
  color: #f3f3f3;
  background: linear-gradient(to bottom, #5a8ff2, rgba(90, 143, 242, 0.5019607843));
  text-shadow: -1px -2px 2px #131313, 1px -2px 2px #131313, -1px 2px 2px #131313, 1px 2px 2px #131313;
  overflow-x: hidden;
}

.page {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  max-width: 144rem;
  padding-top: 2rem;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
button,
span {
  font-family: "Alegreya";
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}
.header .decoration_clouds {
  width: 100%;
}

.game {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  flex: 2;
  align-items: center;
  position: relative;
}
.game__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  align-items: center;
  position: relative;
}
.game__menu {
  position: relative;
  padding: 7.2rem 0;
  background-color: #954a01;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 0 0 #131313, -5px -5px 0 0 #f3f3f3;
  margin-bottom: 28rem;
  margin-top: 18rem;
}
.game__title {
  margin-bottom: 3rem;
}
.game__question {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 5.4rem;
}
.game__answer {
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  letter-spacing: 2rem;
}
.game__keyboard {
  margin-bottom: 5rem;
}
.game__lives {
  position: absolute;
  right: -22rem;
  top: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 22rem;
}
.game__lives .hint {
  font-size: 3.5rem;
  font-weight: 900;
  margin-left: 2rem;
}
.game__lives .number {
  font-size: 8rem;
}

.square {
  width: 1.524rem;
  height: 1.524rem;
  background-color: #f3f3f3;
  box-shadow: 2px 2px 0 0 #131313;
  position: absolute;
}
.square_top-left {
  top: 2.5rem;
  left: 2.5rem;
}
.square_top-right {
  top: 2.5rem;
  right: 2.5rem;
}
.square_bottom-left {
  bottom: 2.5rem;
  left: 2.5rem;
}
.square_bottom-right {
  bottom: 2.5rem;
  right: 2.5rem;
}

.btn {
  padding: 1.5rem 3rem;
  background-color: #219653;
  border: 2px solid #131313;
  color: #f3f3f3;
  font-size: 4rem;
  letter-spacing: 0.05em;
  text-shadow: -2px -2px 0 #131313, 2px -2px 0 #131313, -2px 2px 0 #131313, 2px 2px 0 #131313;
}
@media (hover: hover) {
  .btn {
    transition: all 0.3s ease-out;
  }
  .btn:hover, .btn:active {
    transition: all 0.3s ease-in;
  }
}
@media (hover: hover) {
  .btn:hover, .btn:active {
    background-color: #128d06;
  }
}
.btn_modal {
  margin-bottom: 2.5rem;
}

.footer {
  position: relative;
  display: flex;
}
.footer__bush {
  position: absolute;
  top: -80px;
  z-index: 1;
}
.footer__bush_left {
  left: 15px;
}
.footer__bush_middle {
  top: -110px;
  left: 177px;
}
.footer__bush_right {
  right: 70px;
}
.footer__ground {
  width: 100%;
  position: relative;
  z-index: 2;
}

.scaffold__gpt, .scaffold__man, .scaffold__rope, .scaffold__balk {
  position: absolute;
  transition: opacity 0.4s ease-in-out;
}

.scaffold {
  position: relative;
  width: 38.5rem;
  height: 28.4rem;
}
.scaffold__inner {
  transition: opacity 0.4s ease-in-out;
}
.scaffold__balk {
  background-color: #954a01;
  border: 2px solid #131313;
}
.scaffold__balk_bottom {
  width: 14rem;
  height: 2.5rem;
  bottom: -2px;
}
.scaffold__balk_middle {
  height: 25.8rem;
  width: 2.5rem;
  bottom: 21px;
  left: 13px;
}
.scaffold__balk_top {
  width: 30rem;
  height: 2.5rem;
}
.scaffold__rope {
  width: 1rem;
  height: 6.6rem;
  top: 2.5rem;
  right: 95px;
}
.scaffold__man {
  height: 13.784rem;
  width: 7.047rem;
  top: 82px;
  right: 66px;
}
.scaffold__gpt {
  font-size: 10rem;
  bottom: -33px;
  right: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 0.6rem;
}
.keyboard__letter {
  border: 3px solid #131313;
  background-color: #f3f3f3;
  width: 6rem;
  height: 6rem;
  font-weight: 800;
  font-size: 4rem;
}
.keyboard__letter_red {
  background-color: #c1480b;
}
.keyboard__letter_green {
  background-color: #89ce09;
}
.keyboard__letter_checked {
  pointer-events: none;
}

.modal_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal__inner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #954a01;
  padding: 7.2rem 0;
  width: 70rem;
  box-shadow: 5px 5px 0 0 #131313, -5px -5px 0 0 #f3f3f3;
  overflow: auto;
  text-align: center;
  z-index: 1001;
}
.modal__content {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
  text-align: center;
  white-space: pre-line;
}
.modal__content_win {
  color: #89ce09;
}
.modal__content_lose {
  color: #c1480b;
}
.modal_open {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
