@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/Alegreya-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/Alegreya-ExtraBold.ttf");
  font-weight: 800;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Alegreya";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.5em;
  color: #f3f3f3;
  background: linear-gradient(to bottom, #5a8ff2, rgba(90, 143, 242, 0.5019607843));
  text-shadow: -3px -3px 0 #131313, 3px -3px 0 #131313, -3px 3px 0 #131313, 3px 3px 0 #131313;
  overflow-x: hidden;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 144rem;
  padding-top: 2rem;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Alegreya";
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  align-items: center;
  position: relative;
}
.game__menu {
  position: relative;
  padding: 7.2rem 0;
  background-color: #954a01;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 0 0 #131313, -5px -5px 0 0 #f3f3f3;
  margin-bottom: 28rem;
  margin-top: 18rem;
}
.game__title {
  margin-bottom: 3rem;
}
.game__question {
  font-size: 4rem;
  font-family: 900;
  margin-bottom: 5.4rem;
}
.game__answer {
  font-size: 7rem;
  font-family: 900;
  margin-bottom: 2.4rem;
}
.game__keyboard {
  margin-bottom: 5rem;
}
.game__lives {
  position: absolute;
  right: -15rem;
  top: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 22rem;
}
.game__lives .hint {
  font-size: 3.5rem;
  font-family: 900;
  margin-left: 2rem;
}
.game__lives .number {
  font-size: 8rem;
}
.square {
  width: 1.524rem;
  height: 1.524rem;
  background-color: #f3f3f3;
  box-shadow: 2px 2px 0 0 #131313;
  position: absolute;
}
.square_top-left {
  top: 2.5rem;
  left: 2.5rem;
}
.square_top-right {
  top: 2.5rem;
  right: 2.5rem;
}
.square_bottom-left {
  bottom: 2.5rem;
  left: 2.5rem;
}
.square_bottom-right {
  bottom: 2.5rem;
  right: 2.5rem;
}

.btn {
  padding: 1.5rem 3rem;
  background-color: #219653;
  border: 2px solid #131313;
  color: #f3f3f3;
  font-size: 4rem;
  letter-spacing: 0.05em;
  text-shadow: -2px -2px 0 #131313, 2px -2px 0 #131313, -2px 2px 0 #131313, 2px 2px 0 #131313;
}
@media (hover: hover) {
  .btn {
    transition: all 0.3s ease-out;
  }
  .btn:hover, .btn:active {
    transition: all 0.3s ease-in;
  }
}
@media (hover: hover) {
  .btn:hover, .btn:active {
    background-color: #128d06;
  }
}

.footer {
  position: relative;
}
.footer__bush {
  position: absolute;
  top: -80px;
  z-index: 1;
}
.footer__bush_left {
  left: 15px;
}
.footer__bush_middle {
  top: -90px;
  left: 177px;
}
.footer__bush_right {
  right: 70px;
}
.footer__ground {
  position: relative;
  z-index: 2;
}

.scaffold__gpt, .scaffold__hangman, .scaffold__top, .scaffold__middle, .scaffold__bottom {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.scaffold {
  position: relative;
}
.open {
  visibility: visible;
  opacity: 1;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 57.1rem;
  gap: 1rem;
  margin-bottom: 10rem;
}
.keyboard__letter {
  border: 3px solid #131313;
  background-color: #f3f3f3;
  width: 6rem;
  height: 6rem;
  font-weight: 800;
  font-size: 4rem;
}
.keyboard__letter_red {
  background-color: #c1480b;
}
.keyboard__letter_green {
  background-color: #89ce09;
}

/*# sourceMappingURL=styles.css.map */
